<div class='card'>
  <div class='card-header'>
    {{pageTitle}}
  </div>
  <div class='card-body'>
    <div class='table-responsive'>
      <table class='table'
             *ngIf='products && products.length'>
        <thead>
          <tr>
            <th>Product</th>
            <th>Code</th>
            <th>Available</th>
            <th>Price</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor='let product of products'>          
            <td>{{ product.productName }}</td>
            <td>{{ product.productCode | lowercase }}</td>
            <td>{{ product.releaseDate }}</td>
            <td>{{ product.price | currency:'USD'}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
